.navbar {
    background-color: black;
}
.navbar-dark .navbar-brand {
    color: white
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.btn-outline-success {
    color: white;
    border-color: white;
}

button, input, optgroup, select, textarea {
    margin: 5px;
}
