.navbar {
    background-color: black;
}
.navbar-dark .navbar-brand {
    color: white
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.btn-outline-success {
    color: white;
    border-color: white;
}

.btn-outline-success2 {
    color: black;
    border-color: black;
    background-color: white;
    border-radius: 20px;
}

button, input, optgroup, select, textarea {
    margin: 5px;
}

.btn-primary {
    color: #fff;
    background-color:black;
    border-color: black;
}

.jumbotron {
    color:white;
    background-color:black;
}

img {
    vertical-align: middle;
    max-width: 100%;
    border-style: none;
}

a.link1 {
    font-style: italic;
    text-decoration: underline;
    color: black;
    background-color: transparent;
}

img.mid {
    max-width: 100%;
}